<div class="parent">
    <h1>ng-content</h1>
<p>ng-content is used when we want to use a component multiple times but litle bit content changed</p>
</div>
<div class="container">
    <app-child>
        <h1 class="title">Laptop</h1>
        <button mat-raised-button color="primary" class="btn">price:30000</button>
    </app-child>
    <app-child>
        <h1 class="title">Mobile</h1>
        <button mat-raised-button color="primary" class="btn">price:12000</button>
    </app-child>
    <app-child>
        <h1 class="title">Television</h1>
        <button mat-raised-button color="primary" class="btn">price:15000</button>
    </app-child>
    <app-child>
        <h1 class="title">Washing Machine</h1>
        <button mat-raised-button color="primary" class="btn">price:16000</button>
    </app-child>
</div>