.container{
    display: flex;
    justify-content: space-around;
}
.parent{
    text-align: center;
    margin: 30px 0px;
}
@media(max-width:1252px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}