<div class="container">
    <h1>Directives</h1>
    <p>Directives are basically instructions of angular which is used to change the behaviour and appearence of dom </p>
    <h2>Types of directives</h2>
    <span>Directives are of 3 types</span>
    <ol>
        <li>Component directive</li>
        <li>Structural directive</li>
        <li>Attribute directive</li>
    </ol>
<p><strong>1.Component Directives:</strong>Components are directives with templates. The only difference between Components and the other two types of directives is the Template. Attribute and Structural Directives don't have Templates. </p>
<p><strong>2.Structural Directives:</strong>Structural Directives are responsible for changing the structure of the DOM.such as *ngIf,*ngFor,*ngSwitch</p>
<h4>EX:1</h4>
<h3>*ngIf</h3>
<h1 *ngIf="isShow">Kanishk upadhyay</h1>
<button mat-flat-button color="warn" (click)="onClick()">Click me to hide</button>
<p><strong>3.Attribute Directive</strong>: We can use attribute directives to change the style of DOM elements. These directives are also used to hide or show particular DOM elements conditionally.</p>
<h4>EX:</h4>
<h1 [ngClass]="active">Kanishk Upadhayy</h1>
<button mat-flat-button color="primary" (click)="addClass()">click me to add active class</button>
</div>
<div class="custom">
    <h1>Custom Directive</h1>
    <h2 appCustom>Custom directive has been applied to this element</h2>
</div>