<div class="container">
    <button color="warn" (click)="decrement()" mat-raised-button>decrement</button><span>{{value}}</span> <button color="primary" mat-raised-button (click)="increment()">Increment</button>
</div>