<div class="container">
    <h1>Lifecycle Hooks</h1>
    <p>Lifecycle hooks are simply functions that get called at specific point of a component.Lifecycle hooks are essential in any javascript framework</p>
    <h2>Types of lifecycle hooks</h2>
    <ul>
        <li>ngOnChanges</li>
        <li>ngOnInit</li>
        <li>ngDoCheck</li>
        <li>ngAfterContentInit</li>
        <li>ngAfterContentChecked</li>
        <li>ngAfterViewInit</li>
        <li>ngAfterViewChecked</li>
        <li>ngOnDestroy</li>
    </ul>
</div>
<div class="onchanges">
    <h1>ngOnChanges</h1>
    <p>ngOnChanges is called when the value of input property gets changed.it is the first lifecycle methods</p>
    <h2>EX:</h2>
    <app-lifecycle-child [name]='value'></app-lifecycle-child>
    <input type="text" (input)="onInput(uname.value)" #uname>
</div>
<div class="oninit">
    <h1>ngOnInit</h1>
    <p>ngOnInit is called when the initialization of component is completely done</p>
</div>
<div class="aftercontentinit">
    <h1>ngAfterContentInit</h1>
    <p>This lifecycle hooks gets executed when the  content that is rendering through ngContent gets initializedss</p>
</div>