.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.onchanges{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oninit{
    text-align: center;
}
.aftercontentinit{
    text-align: center;
}