<div class="container">
  <div class="links">
    <a routerLink="">Lifecycle Hooks</a>
    <a routerLink="service">Service</a>
    <a routerLink="directive">Directives</a>
    <a routerLink="pipe">Pipes</a>
    <a routerLink="content-projection">Content Projection</a>
  </div>
</div>
<router-outlet></router-outlet>
