@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
.container{
    background: purple;
    padding: 18px 0px;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.links a:hover{
    color: black;
}