<div class="container">
    <h1>Pipes</h1>
    <p>Pipes are basically used to transform the data before rendering it into the dom. '|' this symobol is called pipe</p>
    <h2>Types of pipe</h2>
    <ol>
        <li>Built in pipe</li>
        <li>Custom pipe</li>
    </ol>
</div>
<div class="built-in">
    <h2>Built in</h2>
    <h3>uppercase pipe :{{name|uppercase}}</h3>
    <h3>titlecase pipe :{{name|titlecase}}</h3>
    <h3>currency pipe:{{100|currency}}</h3>
    <h3>Date pipe:{{date|date}}</h3>

</div>

<div class="custom">
    <h1>Custom Pipe</h1>
    <h3>User with gender male having Mr and User with gender female having Miss</h3>
    <table border="1">
        <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Age</th>
        <th>Language</th>
        <th>Gender</th>
        </tr>
        <tr *ngFor="let i of user;index as index">
            <td>{{index}}</td>
            <td>{{i.name |custom:i.gender}}</td>
            <td>{{i.age}}</td>
            <td>{{i.language}}</td>
            <td>{{i.gender}}</td>
        </tr>
    </table>
    
</div>