.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.built-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}