<div class="container">
    <ng-content select=".title"></ng-content>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam at repudiandae consequatur excepturi praesentium recusandae libero a, nostrum hic nulla?</p>
    <ng-content select=".btn"></ng-content>
   
</div>