.container{
    background: #f1f1f1;
    box-shadow: 2px 2px 7px gray;
    width: 300px;
    padding: 12px 0px;
    text-align: center;
}
@media(max-width:1252px){
    .container {
        margin: 10px 0px;
    }
}